# Uygulama Ortamı (development | production)
NODE_ENV=development

# Local Geliştirme (SQLite Dosyası) İçin
# TURSO_DATABASE_URL=file:./local.db

# Turso (Production / Uzak Bağlantı) İçin
# TURSO_DATABASE_URL=libsql://your-db-org.turso.io
# TURSO_AUTH_TOKEN=senin_turso_auth_token_in
